# Задача

Написать классификатор изображений с лицом человека, разделяющий их на людей в очках, надетых на глаза и всех остальных. Предполагается, что подход будет разрабатываться с упором на его дальнейшее использование в мобильном приложении в real-time.
Ограничения:
- 100 ms на фотографии на GeForce GTX 1080 Ti (примерное сравнение с другими видеокартами https://www.videocardbenchmark.net/high_end_gpus.html)
- не более 3 MB занятого места на диске используемыми моделями
- общераспространенные зависимости (opencv, dlib, numpy, scipy, tensorflow, …) использовать можно, но они должны присутствовать в инструкции по установке
- языки: C++, Python

В случае использования готового детектора ключевых точек на лице или детектора области с лицом на картинке их размер не будет учитываться в ограничениях на занимаемое место и на затраченное время

В случае отсутствия gpu можно считать ограничения по времени ориентировочными, плюсом будет описание того, как бы вы уменьшали время inference.

В процессе работы разрешается любые общедоступные датасеты для обучения и/или тестирования.

Результатом вашей работы является программа, которая по набору путей до фотографий выводит список фотографий людей с очками. Также требуется предоставить программный код (лучше в виде приватного репозитория на bitbucket или github), который вы использовали для получения работающей модели, поясняющую документацию для запуска и выборки, использованные для обучения/валидации моделей.

# Датасеты

- (SoF) SoF dataset - original 
https://sites.google.com/view/sof-dataset

- (GT) Georgia Tech face database
http://www.anefian.com/research/face_reco.htm

# Содержание

1. Подготовка данных
2. Архитектуры решения
3. Модели без Face Detection
4. Модели с Face Detection
5. Прочие решения
6. Оценка точности, графики
7. Поиск оптимального решения 
8. Выводы

## Импорт библиотек

In [10]:
import pandas as pd
import numpy as np
import os

# 1. Подготовка данных

Датасет SoF представляет собой коллекцию фотографий людей в очках при разном освещении, часть фотографий сделана в студии, часть фотографий с улицы, размер фото 640 * 480

In [25]:
sof_with_glasses_path = 'sof/with_glasses/'

В датасете нет изображений людей без очков, поэтому эти данные пойдут только для обучения и тестов по одному классу

В наборе Georgia Tech face database много людей в очках, но фото не разделены, поэтому фотографии были разделены вручную (размер также 640 х 480)

In [26]:
gt_with_glasses_path = 'GT/with_glasses/'
gt_without_glasses_path = 'GT/without_glasses/'

Здесь преимущество в том, что есть фотографии одних и тех же людей в очках и без.

Составим сводные таблицы для этих двух датасетов.

In [27]:
def dataset_to_frame(folder, class_code):
    photos = [folder + photo for photo in os.listdir(folder)]
    codes = [class_code] * len(photos)
    return pd.DataFrame({'photo_path': photos, 'class': codes})

Пусть класс 1 - люди в очках, а 0 - без

In [28]:
sof_with = dataset_to_frame(folder=sof_with_glasses_path, class_code=1)
display(sof_with.head())
sof_with.describe()[0:2]

                                          photo_path  class
0  sof/with_glasses/AbdA_00001_m_31_i_fr_nc_no_20...      1
1  sof/with_glasses/AbdA_00002_m_31_i_fr_nc_sr_20...      1
2  sof/with_glasses/AbdA_00003_m_31_i_fr_nc_hp_20...      1
3  sof/with_glasses/AbdA_00004_m_31_i_fr_nc_hp_20...      1
4  sof/with_glasses/AbdA_00005_m_31_i_fr_nc_hp_20...      1

        class
count  2662.0
mean      1.0

В датасете много фотографий людей в очках (2662), однако для разделения классов потребуется сопоставимое количество фото без очков

Посмотрим на другой датасет

In [31]:
gt_with = dataset_to_frame(gt_with_glasses_path, 1)
display(gt_with.head())
gt_with.describe()[0:2]

                    photo_path  class
0  GT/with_glasses/01 (10).jpg      1
1  GT/with_glasses/01 (11).jpg      1
2  GT/with_glasses/01 (12).jpg      1
3  GT/with_glasses/01 (13).jpg      1
4   GT/with_glasses/01 (2).jpg      1

       class
count  161.0
mean     1.0

In [32]:
gt_without = dataset_to_frame(gt_without_glasses_path, 1)
display(gt_without.head())
gt_without.describe()[0:2]

                       photo_path  class
0  GT/without_glasses/01 (10).jpg      1
1  GT/without_glasses/01 (11).jpg      1
2  GT/without_glasses/01 (12).jpg      1
3  GT/without_glasses/01 (13).jpg      1
4  GT/without_glasses/01 (14).jpg      1

       class
count  574.0
mean     1.0

Видно, что фотографий людей без очков значительно больше

In [ ]:
Посмотрим на фото в датасетах